<div class=“createpost”>

  <%= form_with model: @post, local: true, html: { multipart: true } do |f| %>
    
    <div class="title">
      <%= f.label :title, class: "form-label" %>
      <br>
      <%= f.text_field :title, class: "form-control" %>
      <br><br>
    </div>

    <div class="descriptionLabel">
      <%= f.label :description, class: "form-label" %>
      <br>
      <%= f.text_field :description, class: "form-control" %>
      <br><br>
    </div>
    
    <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control" %>
      <br>
      <br>

    <%= f.submit %>

  <% end %>

</div>
  