<!DOCTYPE html>
<html>
  <head>
    <title>Photoshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %>
  </head>

  <body>
  <div class="topnav">
  
  <input class="input" type="text" placeholder="Search..">
  
  <%= link_to "Home", root_path %>
  <%= link_to "Posts", posts_path %>
  <%= link_to "edit", posts_path %>
       <%= link_to "Create Posts", new_post_path %>
       <span class="userlogin">
       <%= link_to "Login", login_path %>
       <%= link_to "Logout", login_path, method: "delete" %>
       </span>
       <img class="logo" src='https://secure.gravatar.com/avatar/bea6ff7f57ab283aa956f1c41292fc49?size=100/100'">
       
       </div>
       <p class="share">Photoshare</p>

   <div class="profile_img">
       <% if @current_user.present? %>
      
       <%= cl_image_tag @current_user.avatar %>
         <%= @current_user.name %>
        
    </div>

         
         
 <% end %>
 <%= yield %>

</body>

</html>
   


      
   
