<!DOCTYPE html>
<html>
  <head>
    <title>Photoshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
  <div class="log">
       <% if @current_user.present? %>
         <%= @current_user.name %>
        
         
         <%= link_to "Logout", login_path, method: "delete" %>
         
         
       <% else %>
         <%= link_to "Login", login_path %>
         
         <%= link_to "Sign Up", "/does-not-exist-yet" %>
       <% end %>
        </div>
  <img src="https://secure.gravatar.com/avatar/bea6ff7f57ab283aa956f1c41292fc49?size=100">


    <nav>
      <h1>
      PhotoShare
      </h1>
      
      

      

      <hr>
    </nav>

    <%= yield %>

    

  </body>
</html>
