<!DOCTYPE html>
<html>
  <head>
    <title>Photoshare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= cloudinary_js_config %>
  </head>

  <body>
  <div class="bg-img">
  <div class="container-fluid">
    <div class="topnav">
      <%= link_to "Home", root_path %>
      <%= link_to "Posts", posts_path %>
    </div>
  </div>
</div>



<div id='foo'>
 <div id='logo'><img src='https://secure.gravatar.com/avatar/bea6ff7f57ab283aa956f1c41292fc49?size=100/100'></div>
 <div id='text'>Photoshare</div>
</div>
<nav>
      
  <div class="log">
       <% if @current_user.present? %>
       <%= cl_image_tag @current_user.avatar %>
         <%= @current_user.name %>
        </div>

         <div class="login">
         <%= link_to "Create Posts", new_post_path %>
        
         
        

         <%= link_to "Logout", login_path, method: "delete" %>
         
         
       <% else %>
         <%= link_to "Login", login_path %>
         
         <%= link_to "Sign Up", "/does-not-exist-yet" %>
       </div>
        
        
        
        <% end %>
  
  

    
      
      


    </nav>

    <%= yield %>
  

    

  </body>
</html>
